# -*- apache -*-

<VirtualHost *:80>
    DocumentRoot "/var/www"
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    ServerName {{ proxy_fqdn }}

    Alias "/blocked" "/var/www/proxy/blocked"

    <Directory "/var/www">
	Options Indexes FollowSymLinks
	AllowOverride None
    </Directory>

    <Directory "/var/www/screensquid">
	AuthType Basic
	AuthBasicProvider ldap
	AuthName "Screen Squid Authentication"
	AuthLDAPURL "{{ auth_ldap_url }}"
	{% for user in auth_ldap_authorized_users %}
	Require ldap-user "{{ user }}"
	{% endfor %}
	{% for group in auth_ldap_authorized_groups %}
	Require ldap-group "{{ group }}"
	{% endfor %}
    </Directory>

</VirtualHost>

