<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8">
    <title>Proxy OCEA Smart Building : Accès bloqué</title>

    <style>
      .value {
	  font-family: courrier;
	  font-size: 90%;
      }
      body {
	  padding-left: 10%;
      }
      .info {
	  padding-top: 30px;
	  padding-left: 5%;
      }
    </style>

    <script>
      function report_parameters () {
	  const urlParams = new URLSearchParams(location.search);
	  const parameters = ['clientaddr', 'clientdomain', 'clientuser', 'targetgroup', 'url'];

	  parameters.forEach((param) => {
	      if (urlParams.has(param)) {
		  var p = urlParams.get(param);
		  if (p != 'unknown') {
		      var element = document.getElementById(param);
		      element.innerHTML = p;
		  }
	      }
	  });
      }
      window.onload = report_parameters;
    </script>
  </head>

  <body>
    <img src="//{{ proxy_fqdn }}/blocked/LOGO-OSB.svg" alt="" height="74.649" width="170.871"/>

    <h1>Accès bloqué</h1>
    L'accès à la ressource demandée à été bloqué. Vous êtes invités à
    vous rapprocher de votre équipe technique.
    <div class="info">
      <div>Adresse du client : <span class='value' id='clientaddr'>N/A</span></div>
      <div>Domaine : <span class='value' id='clientdomain'>N/A</span></div>
      <div>Utilisateur : <span class='value' id='clientuser'>N/A</span></div>
      <div>Raison : <span class='value' id='targetgroup'>N/A</span></div>
      <div>URL : <span class='value' id='url'>N/A</span></div>
    </div>

  </body>

</html>
