server {
	listen 80;
	listen [::]:80;

	server_name {{ proxy_fqdn }};

        location /screensquid/ {
		root /var/www/;
		index index.php;
	}

	location ~* /screensquid/.*\.php$ {
		root /var/www/;
		index index.php;

		fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
		include         fastcgi_params;
		fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
		fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
	}

	location /blocked/ {
		root /var/www/proxy;
		index blocked.html;
	}


}
