workers 16

http_port 3128
http_port 3129 intercept

{% for domain in high_priority_dst_domains %}
acl high_priority ssl::server_name {{ domain }}
{% endfor %}

{% for domain in low_priority_dst_domains %}
acl low_priority ssl::server_name {{ domain }}
{% endfor %}

{% for ip in high_priority_src_ip %}
acl high_priority_ip src {{ ip }}
{% endfor %}

{% for ip in low_priority_src_ip %}
acl low_priority_ip src {{ ip }}
{% endfor %}

acl localnet src 0.0.0.1-0.255.255.255	# RFC 1122 "this" network (LAN)
acl localnet src 10.0.0.0/8		# RFC 1918 local private network (LAN)
acl localnet src 100.64.0.0/10		# RFC 6598 shared address space (CGN)
acl localnet src 169.254.0.0/16 	# RFC 3927 link-local (directly plugged) machines
acl localnet src 172.16.0.0/12		# RFC 1918 local private network (LAN)
acl localnet src 192.168.0.0/16		# RFC 1918 local private network (LAN)
acl localnet src fc00::/7       	# RFC 4193 local private network range
acl localnet src fe80::/10      	# RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
acl CONNECT method CONNECT

http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager
http_access allow localnet
http_access allow localhost
http_access deny all

access_log stdio:/var/log/squid/access.log

acl step1 at_step SslBump1
ssl_bump peek step1
ssl_bump splice all

url_rewrite_program /usr/bin/squidGuard
url_rewrite_children 32 startup=16 idle=24 concurrency=0

{% if high_priority_dst_domains %}
tcp_outgoing_mark 0x10 high_priority
{% endif %}

{% if high_priority_src_ip %}
tcp_outgoing_mark 0x10 high_priority_ip
{% endif %}

{% if low_priority_dst_domains %}
tcp_outgoing_mark 0x30 low_priority
{% endif %}

{% if low_priority_src_ip %}
tcp_outgoing_mark 0x30 low_priority_ip
{% endif %}

coredump_dir /var/spool/squid

max_filedescriptors 8192
server_persistent_connections on
via off
forwarded_for delete

