#
# CONFIG FILE FOR SQUIDGUARD
#
# Caution: do NOT use comments inside { }
#

dbhome /var/lib/squidguard/db
logdir /var/log/squidguard

#
# SOURCE ADDRESSES:
#

src unfiltered {
}

src banned {
}

#
# DESTINATION CLASSES:
#

dest adult
{
        domainlist      adult/domains
        urllist         adult/urls
        expressionlist  adult/expressions
}

destination malware
{
        urllist         malware/urls
        domainlist      malware/domains
}

destination aggressive
{
        urllist         aggressive/urls
        domainlist      aggressive/domains
        expressionlist  aggressive/expressions
}

destination strong_redirector
{
        urllist         strong_redirector/urls
        domainlist      strong_redirector/domains
        expressionlist  strong_redirector/expressions
}

destination dating
{
        urllist         dating/urls
        domainlist      dating/domains
}

destination phishing
{
        urllist         phishing/urls
        domainlist      phishing/domains
}

destination custom
{
        domainlist      custom/domains
}


#
# ACL RULES:
#

acl {
    default {
    pass     !adult !aggressive !dating !malware !phishing !custom all
    redirect http://{{ proxy_fqdn }}/blocked/blocked.html?clientaddr=%a&clientdomain=%n&clientuser=%i&targetgroup=%t&url=%u
    log pornaccesses.log
    }
}
