#!/bin/bash

run_tc qdisc add dev {{ network_interface }}  root handle 1: htb default 20

run_tc class add dev {{ network_interface }} parent 1:0 classid 1:10 htb \
   rate {{ link_speed // 1.1 }}kbit ceil {{ link_speed // 1.1 }}kbit prio 1
run_tc class add dev {{ network_interface }} parent 1:0 classid 1:20 htb \
   rate {{ link_speed // 1.5 }}kbit ceil {{ link_speed // 1.1 }}kbit prio 2
run_tc class add dev {{ network_interface }} parent 1:0 classid 1:30 htb \
   rate {{ link_speed // 2 }}kbit ceil {{ link_speed // 1.5 }}kbit prio 3

run_tc filter add dev {{ network_interface }} parent 1:0 protocol ip prio 1 handle 0x10 fw flowid 1:10
run_tc filter add dev {{ network_interface }} parent 1:0 protocol ip prio 2 handle 0x20 fw flowid 1:20
run_tc filter add dev {{ network_interface }} parent 1:0 protocol ip prio 3 handle 0x30 fw flowid 1:30
