<?php return array (
  'enabled' => 1,
  'srvname' => '{{ proxy_fqdn }}',
  'db' => 'screensquid',
  'user' => 'screensquid',
  'pass' => '',
  'address' => '',
  'cfgsquidhost' => 'localhost',
  'cfgsquidport' => '3128',
  'cfgcachemgr_passwd' => '',
  'srvdbtype' => '1',
);?>
